<a href="https://colab.research.google.com/github/EmperoR1127/ml_project/blob/emperor/h1b_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [24]:
# To support both python 2 and python 3
from __future__ import division, print_function, unicode_literals

# Common imports
import numpy as np
import os
from scipy.io import arff
import pandas as pd

# to make this notebook's output stable across runs
np.random.seed(42)

# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

# Where to save the figures
PROJECT_ROOT_DIR = "/content/drive/My Drive/Images"

def save_fig(fig_id, tight_layout=True):
    path = os.path.join(PROJECT_ROOT_DIR, "images", fig_id + ".png")
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format='png', dpi=300)
    
#load the dataset
path = "/content/drive/My Drive/Data/H-1B_Disclosure_Data.csv"
df = pd.read_csv(path, encoding='utf-8')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
#drop tailing blank rows, 449678 rows left
df = df.drop(df.index[449679:462401])
processed_data = df.copy()
#-----------PROCESS BINARY-VALUE COLUMNS-----------#
#fill missing values in columns of H-1B_DEPENDENT and FULL_TIME_POSITION with most frequent values
processed_data = processed_data.fillna(processed_data['H-1B_DEPENDENT'].value_counts().index[0])
processed_data = processed_data.fillna(processed_data['FULL_TIME_POSITION'].value_counts().index[0])
#numericalize colums of CASE_STATUS, FULL_TIME_POSITION and H-1B_DEPENDENT
numericalize_columns = {"CASE_STATUS":{"CERTIFIED":0, "DENIED":1}, 
                        "FULL_TIME_POSITION":{"Y":1, "N":0},
                        "H-1B_DEPENDENT":{"Y":1, "N":0}}
processed_data.replace(numericalize_columns, inplace=True)
#-----------PROCESS TIME-VALUE COLUMNS-----------#
#numericalize colums of DECISION_DATE, EMPLOYMENT_START_DATE and EMPLOYMENT_END_DATE
processed_data['DECISION_DATE'] = pd.to_datetime(processed_data['DECISION_DATE'],infer_datetime_format=True,errors='coerce').map(lambda x: str(x)[:4])
processed_data['EMPLOYMENT_START_DATE'] = pd.to_datetime(processed_data['EMPLOYMENT_START_DATE'],infer_datetime_format=True,errors='coerce').map(lambda x: str(x)[:4])
processed_data['EMPLOYMENT_END_DATE'] = pd.to_datetime(processed_data['EMPLOYMENT_END_DATE'],infer_datetime_format=True,errors='coerce').map(lambda x: str(x)[:4])
#drop NaT rows because we can't "guess" the specific date
processed_data = processed_data[processed_data.DECISION_DATE != 'NaT']
processed_data = processed_data[processed_data.EMPLOYMENT_START_DATE != 'NaT']
processed_data = processed_data[processed_data.EMPLOYMENT_END_DATE != 'NaT']
processed_data['DECISION_DATE'] = processed_data['DECISION_DATE'].astype(int)
processed_data['EMPLOYMENT_START_DATE'] = processed_data['EMPLOYMENT_START_DATE'].astype(int)
processed_data['EMPLOYMENT_END_DATE'] = processed_data['EMPLOYMENT_END_DATE'].astype(int)
#add one column as EMP_PERIOD, and drop EMPLOYMENT_START_DATE and EMPLOYMENT_END_DATE
processed_data['EMP_PERIOD'] = processed_data['EMPLOYMENT_END_DATE'] - processed_data['EMPLOYMENT_START_DATE']
processed_data = processed_data.drop(["EMPLOYMENT_START_DATE", "EMPLOYMENT_END_DATE"], axis=1)
#-----------PROCESS STRING-VALUE COLUMNS-----------#
#numericalize colums of EMPLOYER_NAME
processed_data['EMPLOYER_NAME'] = processed_data['EMPLOYER_NAME'].astype('category')
#employer_name_dict stores the mapping of numerical values to categorical values of EMPLOYER_NAME, incase of further reference
employer_name_dict = dict(zip(processed_data['EMPLOYER_NAME'].cat.codes, processed_data['EMPLOYER_NAME']))
processed_data['EMPLOYER_NAME'] = processed_data['EMPLOYER_NAME'].cat.codes
#numericalize colums of JOB_TITLE
processed_data['JOB_TITLE'] = processed_data['JOB_TITLE'].astype('category')
#employer_name_dict stores the mapping of numerical values to categorical values of JOB_TITLE, incase of further reference
job_title_dict = dict(zip(processed_data['JOB_TITLE'].cat.codes, processed_data['JOB_TITLE']))
processed_data['JOB_TITLE'] = processed_data['JOB_TITLE'].cat.codes
#concatenate the first 2 digit of column SOC_CODE
processed_data['SOC_CODE'] = processed_data['SOC_CODE'].map(lambda x: str(x)[:2])
#remove impurity in the column
processed_data = processed_data[processed_data.SOC_CODE != '<F']
processed_data = processed_data[processed_data.SOC_CODE != 'N']
processed_data = processed_data[processed_data.SOC_CODE != 'SO']
processed_data = processed_data[processed_data.SOC_CODE != 'CO']
processed_data['SOC_CODE'] = processed_data['SOC_CODE'].astype('int')
#concatenate the first 2 digit of column NAIC_CODE
processed_data['NAIC_CODE'] = processed_data['NAIC_CODE'].map(lambda x: str(x)[:2])
#remove impurity in the column
processed_data = processed_data[processed_data.NAIC_CODE != 'N']
processed_data = processed_data[processed_data.NAIC_CODE != '&N']
processed_data = processed_data[processed_data.NAIC_CODE != '0.']
processed_data['NAIC_CODE'] = processed_data['NAIC_CODE'].astype('int')
#numericalize colums of WORKSITE_STATE
processed_data['WORKSITE_STATE'] = processed_data['WORKSITE_STATE'].astype('category')
#worksite_state_dict stores the mapping of numerical values to categorical values of Worksite_STATE_full, incase of further reference
worksite_state_dict = dict(zip(processed_data['WORKSITE_STATE'].cat.codes, processed_data['WORKSITE_STATE']))
processed_data['WORKSITE_STATE'] = processed_data['WORKSITE_STATE'].cat.codes.astype('int')

#-----------PROCESS FLOAT-VALUE COLUMNS-----------#
#remove impurity in the column
processed_data = processed_data[processed_data.PW_UNIT_OF_PAY != 'N']
processed_data = processed_data[processed_data.PREVAILING_WAGE != 'N']
#according to google, there are 2080 working hours per year
pw_unit_column = {"PW_UNIT_OF_PAY":{"Year":1, "Hour":2080, "Month":12, "Week":52, "Bi-Weekly":26}}
processed_data.replace(pw_unit_column, inplace=True)
processed_data['PW_UNIT_OF_PAY'] = processed_data['PW_UNIT_OF_PAY'].astype('int')
#remove ',' in the column value
processed_data['PREVAILING_WAGE'] = processed_data['PREVAILING_WAGE'].astype('str')
processed_data['PREVAILING_WAGE'] = processed_data.PREVAILING_WAGE.str.replace(',','')
processed_data['PREVAILING_WAGE'] = processed_data['PREVAILING_WAGE'].astype('float')
#add one column as ANNUAL_SALARY
processed_data['ANNUAL_SALARY'] = processed_data['PREVAILING_WAGE'] * processed_data['PW_UNIT_OF_PAY']
processed_data = processed_data.drop(["PREVAILING_WAGE", "PW_UNIT_OF_PAY"], axis=1)

#-----------SET TRAIN_LABELS AND TRAIN_SET-----------#
train_labels = processed_data.copy()['CASE_STATUS']
train_set = processed_data.copy().drop(["CASE_STATUS"], axis=1)

In [26]:
train_labels.head(10)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: CASE_STATUS, dtype: object

In [27]:
train_set.head(10)

   DECISION_DATE  EMPLOYER_NAME  ...  EMP_PERIOD  ANNUAL_SALARY
0           2015          69399  ...           1        84094.0
1           2015          24172  ...           3        71414.0
2           2015          38583  ...           3        93475.0
3           2015          31004  ...           3        81869.0
4           2015           2807  ...           2       101982.0
5           2015           5955  ...           2        76648.0
6           2015          27988  ...           2       204090.0
7           2015          19165  ...           2        71802.0
8           2015          27342  ...           2        73861.0
9           2015          59924  ...           2       140005.0

[10 rows x 10 columns]